@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url("fonts/Montserrat/Montserrat-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@-webkit-keyframes hands {
  from {
    width: 50%;
    -webkit-filter: blur(20px);
            filter: blur(20px);
  }
}
@keyframes hands {
  from {
    width: 50%;
    -webkit-filter: blur(20px);
            filter: blur(20px);
  }
}
.pochtoy {
  position: relative;
  z-index: 99;
  width: 1060px;
  max-width: 100%;
  font-family: 'Roboto', monospace;
  font-size: 16px;
  line-height: normal;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
.pochtoy *,
.pochtoy *:before,
.pochtoy *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pochtoy svg {
  display: block;
  fill: currentColor;
  pointer-events: none;
}
.pochtoy b {
  font-weight: 700;
}
.pochtoy button {
  font-family: inherit;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.pochtoy-btn {
  width: 150px;
  height: 45px;
  padding: 0 10px;
  color: #ff3939;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 700;
  border: 3px solid #ff3939;
  background-color: #ffe750;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.pochtoy-btn:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .pochtoy-btn:hover {
    opacity: 1;
  }
}
.pochtoy-btn.is-disabled {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.6;
  cursor: default;
}
@media (hover: none), (hover: on-demand) {
  .pochtoy-btn.is-disabled:hover {
    opacity: 0.6;
  }
}
.pochtoy-hands {
  position: absolute;
  z-index: 1;
  top: 5%;
  bottom: 0;
  margin: auto 0;
  width: 200px;
}
@media (min-width: 1025px) {
  .pochtoy-hands {
    width: 248px;
    height: 471px;
  }
}
.pochtoy-hands--l {
  left: 0;
}
.pochtoy-hands--r {
  right: 0;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.pochtoy__logo {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 20px;
  width: 100px;
  height: 34px;
  color: #000 !important;
  border: 0 !important;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.pochtoy__logo svg {
  width: 100%;
  height: 100%;
}
@media (min-width: 640px) {
  .pochtoy__logo {
    top: 20px;
    right: 30px;
  }
}
@media (min-width: 640px) and (max-width: 960px) {
  .pochtoy.is-result .pochtoy__logo {
    right: calc((100% - 640px) / 2 + 30px);
  }
}
.pochtoy__logo:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .pochtoy__logo:hover {
    opacity: 1;
  }
}
.pochtoy__inner {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 10px;
  background-color: #fff;
}
@media (min-width: 640px) {
  .pochtoy__inner {
    min-height: 600px;
    border: 4px solid #000;
  }
}
.pochtoy__inner--result {
  width: 640px;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  border: 0;
  background-color: transparent;
}
.pochtoy-enter {
  position: relative;
  z-index: 2;
  width: 360px;
  max-width: 100%;
  margin-top: 40px;
}
@media (min-width: 640px) {
  .pochtoy-enter {
    margin: auto 0 auto 50px;
  }
}
@media (min-width: 1025px) {
  .pochtoy-enter {
    margin: auto;
  }
}
.pochtoy-enter__title {
  color: #ff3939;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.355em;
  text-transform: uppercase;
}
@media (min-width: 375px) {
  .pochtoy-enter__title {
    font-size: 31px;
  }
}
.pochtoy-enter__text {
  margin-top: 16px;
  line-height: 1.5em;
  opacity: 0.6;
}
@media (min-width: 375px) {
  .pochtoy-enter__text {
    font-size: 18px;
  }
}
.pochtoy-enter__text p {
  padding: 0;
  margin: 0 !important;
  font-family: inherit;
}
.pochtoy-enter__text p:not(:last-child) {
  margin-bottom: 0.833em !important;
}
.pochtoy-enter__btn {
  margin-top: 20px;
}
@media (min-width: 375px) {
  .pochtoy-enter__btn {
    margin-top: 40px;
  }
}
.pochtoy-q {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}
.pochtoy-q__pager {
  position: absolute;
  top: 5px;
  left: 0;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 640px) {
  .pochtoy-q__pager {
    top: 15px;
    left: 20px;
  }
}
.pochtoy-q__inner {
  position: relative;
  margin: 40px auto 0;
}
@media (min-width: 640px) {
  .pochtoy-q__inner {
    width: 560px;
    max-width: 100%;
    min-height: 442px;
    margin-top: 60px;
  }
}
.pochtoy-q__promo {
  position: absolute;
  z-index: 4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
}
.pochtoy-q__promo-inner {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: 320px;
  max-width: 100%;
  padding: 20px 26px 22px;
  border: 4px solid #000;
  background-color: #fff;
}
.pochtoy-q__promo-btn {
  width: 82px;
  height: 26px;
  padding: 0 10px;
  margin: 16px 0 0;
  color: #000;
  font-size: 12px;
  border: 1px solid #000;
  background-color: #fff;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}
.pochtoy-q__promo-btn:hover {
  color: #fff;
  background-color: #000;
}
@media (hover: none), (hover: on-demand) {
  .pochtoy-q__promo-btn:hover {
    color: #000;
    background-color: #fff;
  }
}
.pochtoy-q__promo-text {
  color: #000;
  font-size: 12px;
  line-height: 1.5em;
}
.pochtoy-q__promo-text p {
  padding: 0;
  margin: 0 !important;
  font-family: inherit;
}
.pochtoy-q__promo-text p:not(:last-child) {
  margin-bottom: 0.833em !important;
}
.pochtoy-q__promo-text a {
  color: currentColor !important;
  border-bottom: 1px solid currentColor !important;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.pochtoy-q__promo-text a:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .pochtoy-q__promo-text a:hover {
    opacity: 1;
  }
}
.pochtoy-q__body {
  width: 310px;
  max-width: 100%;
}
.pochtoy-q__label {
  margin-bottom: 6px;
  color: #999;
}
.pochtoy-q__label--options {
  text-align: center;
}
@media (min-width: 640px) {
  .pochtoy-q__label--options {
    text-align: left;
  }
}
.pochtoy-q__label:not(:first-child) {
  margin-top: 20px;
}
.pochtoy-q__title {
  color: #ff3939;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.45em;
}
.pochtoy-q__subtitle {
  color: #333;
  font-size: 18px;
  line-height: 1.6em;
}
.pochtoy-q__lot {
  position: relative;
  width: 225px;
  margin: 20px auto 0;
}
@media (min-width: 640px) {
  .pochtoy-q__lot {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }
}
.pochtoy-q__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 640px) {
  .pochtoy-q__options {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.pochtoy-q__btn {
  margin-top: 20px;
  text-align: center;
}
@media (min-width: 640px) {
  .pochtoy-q__btn {
    text-align: left;
  }
}
.pochtoy-q__notice {
  width: 160px;
  max-width: 100%;
  min-height: 48px;
  margin: 10px auto 0;
  color: #808080;
  font-size: 14px;
  text-align: center;
}
.pochtoy-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 206px;
  height: 110px;
  margin: -12px 0 0 -40px;
}
.pochtoy-options__item {
  padding: 12px 0 0 40px;
}
.pochtoy-option {
  position: relative;
  display: inline-block;
  color: #000;
  cursor: pointer;
}
.pochtoy-option.is-active {
  color: #ff3939;
}
.pochtoy-option__btn {
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid currentColor;
  border-radius: 100%;
}
.pochtoy-option.is-active .pochtoy-option__btn::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: currentColor;
}
.pochtoy-option__label {
  margin-left: 30px;
  font-size: 18px;
}
.pochtoy-lot {
  border: 4px solid currentColor;
}
.pochtoy-lot__body {
  position: relative;
  height: 260px;
  background-color: #ffe750;
  background-image: url("https://leonardo.osnova.io/f4966422-246f-7497-2568-5b47f689318a/");
  background-position: center calc(100% + 20px);
  background-repeat: no-repeat;
}
@media (min-width: 640px) {
  .pochtoy-lot__body {
    height: 306px;
    background-position: center bottom;
  }
}
.pochtoy-lot__img {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.pochtoy-lot__img--1 {
  left: 55px;
  width: 105px;
}
.pochtoy-lot__img--2 {
  left: 68px;
  width: 80px;
}
.pochtoy-lot__img--3 {
  bottom: 44px;
  left: 60px;
  width: 90px;
}
.pochtoy-lot__img--4 {
  left: 6px;
  width: 206px;
}
.pochtoy-lot__img--5 {
  left: 22px;
  width: 172px;
}
.pochtoy-lot__img--6 {
  left: 18px;
  width: 177px;
}
.pochtoy-lot__img--7 {
  left: 6px;
  width: 206px;
}
.pochtoy-lot__img--8 {
  left: 22px;
  bottom: 34px;
  width: 162px;
}
@media (min-width: 640px) {
  .pochtoy-lot__img {
    bottom: 70px;
  }
  .pochtoy-lot__img--3 {
    bottom: 64px;
  }
  .pochtoy-lot__img--8 {
    bottom: 56px;
  }
}
.pochtoy-lot__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 50px;
  padding-bottom: 12px;
  background-color: #000;
}
@media (min-width: 640px) {
  .pochtoy-lot__bottom {
    height: 70px;
    padding-bottom: 20px;
  }
}
.pochtoy-lot__price {
  margin-bottom: -2px;
  color: #ffe750;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
}
.pochtoy-lot__price--old {
  margin-right: 8px;
  margin-bottom: 0;
  font-size: 14px;
  text-decoration: line-through;
}
.pochtoy-lot__price--new {
  color: #ff3939;
}
.pochtoy-lot__price--new::after {
  content: '.-';
}
.pochtoy-crane {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 58px;
  height: 97px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.pochtoy-crane--back {
  z-index: 1;
}
.pochtoy-crane::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 2px;
  height: 500px;
  background-color: #ff0c0c;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.pochtoy-crane__grabber {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.pochtoy-crane__claw {
  position: absolute;
  z-index: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.pochtoy-crane__claw--b {
  width: 8px;
  top: 86px;
  right: 8px;
}
.pochtoy-crane__claw--l {
  width: 36px;
  top: 80px;
  left: -32px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
.pochtoy-crane__claw--r {
  width: 29px;
  top: 78px;
  right: -19px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.pochtoy-result {
  max-width: 100%;
}
@media (min-width: 640px) {
  .pochtoy-result__main {
    border: 4px solid #000;
  }
}
.pochtoy-result__bottom {
  margin-top: 8px;
  padding: 10px 14px;
  background-color: #fff;
}
@media (min-width: 640px) {
  .pochtoy-result__bottom {
    border: 5px solid #000;
  }
}
@media (min-width: 680px) {
  .pochtoy-result__bottom {
    padding: 40px 65px 45px;
  }
}
.pochtoy-result__block {
  position: relative;
  padding: 50px 20px 10px;
  background-color: #fff;
  overflow: hidden;
}
@media (min-width: 680px) {
  .pochtoy-result__block {
    padding: 35px 20px 20px 60px;
  }
}
.pochtoy-result__block--a {
  padding: 10px 20px;
  background-color: #000;
}
@media (min-width: 680px) {
  .pochtoy-result__block--a {
    min-height: 220px;
    padding: 35px 20px 20px 60px;
  }
}
.pochtoy-result__img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 41%;
  max-width: 169px;
}
.pochtoy-result__img--a {
  top: 0;
  bottom: auto;
  width: 35%;
  max-width: 150px;
}
.pochtoy-result__title {
  position: relative;
  z-index: 1;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5em;
}
@media (min-width: 375px) {
  .pochtoy-result__title {
    font-size: 22px;
  }
}
@media (min-width: 480px) {
  .pochtoy-result__title {
    font-size: 24px;
  }
}
@media (min-width: 680px) {
  .pochtoy-result__title {
    font-size: 30px;
  }
}
.pochtoy-result__title--a {
  color: #fff;
}
.pochtoy-result__share {
  position: relative;
  z-index: 1;
  margin-top: 14px;
  color: #fff;
}
.pochtoy-result__share--dark {
  color: #000;
}
.pochtoy-result__restart {
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
  color: #000;
  line-height: 1;
  cursor: pointer;
  opacity: 0.65;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.pochtoy-result__restart--a {
  color: #fff;
}
.pochtoy-result__restart svg {
  margin-left: 5px;
}
.pochtoy-result__restart:hover {
  opacity: 1;
}
@media (hover: none), (hover: on-demand) {
  .pochtoy-result__restart:hover {
    opacity: 0.65;
  }
}
.pochtoy-result__text {
  color: #000;
  line-height: 1.5em;
}
.pochtoy-result__text p {
  padding: 0;
  margin: 0 !important;
  font-family: inherit;
}
.pochtoy-result__text p:not(:last-child) {
  margin-bottom: 0.833em !important;
}
.pochtoy-result__text a {
  color: currentColor !important;
  border-bottom: 1px solid currentColor !important;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.pochtoy-result__text a:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .pochtoy-result__text a:hover {
    opacity: 1;
  }
}
.pochtoy-result__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 170px;
  height: 45px;
  padding: 0 10px;
  margin-top: 20px;
  color: #000 !important;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 1;
  border: 3px solid #000 !important;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
@media (min-width: 680px) {
  .pochtoy-result__btn {
    margin-top: 30px;
  }
}
.pochtoy-result__btn:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .pochtoy-result__btn:hover {
    opacity: 1;
  }
}
.pochtoy .likely--custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pochtoy .likely__widget {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 58px;
  height: 44px;
  color: currentColor;
  border: 1px solid currentColor;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.pochtoy .likely__widget:not(:last-child) {
  margin-right: 10px;
}
.pochtoy .likely__widget:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .pochtoy .likely__widget:hover {
    opacity: 1;
  }
}
.pochtoy .likely__widget--vkontakte {
  padding: 0 13px 0 10px;
}
.pochtoy .likely__counter {
  display: none;
}
.pochtoy .likely__icon {
  background-color: transparent;
}
.pochtoy .likely__icon svg {
  display: block;
  width: 25px;
  height: 25px;
  fill: currentColor;
}
.pochtoy .likely__icon--facebook svg {
  width: 20px;
  height: 20px;
}
@media (min-width: 680px) {
  .pochtoy .likely__icon--vkontakte {
    margin-right: 10px;
  }
}
.pochtoy .likely__button {
  display: none;
  line-height: 1;
}
@media (min-width: 480px) {
  .pochtoy .likely__button {
    display: block;
  }
}
/*# sourceMappingURL=src/css/special.css.map */

/*# sourceMappingURL=all.css.map*/